/*2c4256*/
.rel{position: relative;}
.abs{position: absolute;}
.fullW{width: 100%;max-width: 100%;}
.fullH{height: 100%;max-height: 100%;}
.nopd{padding: 0;}
.nomg{margin: 0;}
.wtext{color: #fff;}

.full{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.row{
	width: 100%;
	margin: 0;

}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.dispblock{
	display: block;
}


/* ---------------------/
* Colores --------------/
-----------------------*/
.colorTopNav{
	color: #868686;
}


/* ---------------------/
* Header ---------------/
-----------------------*/

.header-page > .top-options{
	background-color: #0d0d0d;
	padding: 7px 0;
	color: #868686;
}
.header-page > .top-options a{
	display: block;
	transition: all .2s ease;

}
.header-page > .top-options a:hover{
	color: #fff;
}
.header-page > .top-options .top-contact ul li{
	display: inline-block;
}


.header-page > .top-options .top-contact ul li a{
	height: 30px;
	line-height: 30px;
	width: 30px;
	border: 1px dotted #868686;
	border-radius: 30px !important;
}

.header-page > .top-options .top-user a{
	padding: 3px 10px;
	border-radius: 10px !important;
	text-decoration: none;
	border:1px solid #868686;
}

.header-page > .top-options .top-contact ul li.facebook a:hover{background-color: #3b5998;}
.header-page > .top-options .top-contact ul li.twitter a:hover {background-color: #55acee;}
.header-page > .top-options .top-contact ul li.instagram a:hover {background-color: #125688;}
.header-page > .top-options .top-contact ul li.google-plus a:hover{background-color: #dd4b39;}

.header-page > .top-options .top-user a:hover{
	box-shadow: 0 21px 0 #EA6706 inset;
	background-color: #fff;
	border-bottom: 1px solid #EA6706;
}

/* ---------------------/
* Navegacion -----------/
-----------------------*/

.header-page > nav{
	background-color: #fff;
	border: none;
	border-bottom: 3px solid #EA6706;
	margin-bottom: 0;
}
.header-page > nav > .container{
	padding: 46px 0 52px 0;
}
.header-page > nav .navbar-nav li a{
	color:#232323;
	transition: all .2s ease;
}
.header-page > nav .navbar-nav li a:after{
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	bottom: -3px;
	left: 0;
	background-color: #EA6706;
	border-radius: 10px;
	transition: all .2s ease;
}
.header-page > nav .navbar-nav li a:hover{
	color: #EA6706;
	border-width: 1px 1px 0 2px;
	border-style: dotted;
	border-color: #EA6706;
}
.header-page > nav .navbar-nav li a:hover:after{
	width: 100%;
}

/* ---------------------/
* Slider ---------------/
-----------------------*/

.dev-slider{
	height: 700px;
	background-image: url(../img/img-slide-3.jpg);
	border-bottom: 3px solid #EA6706;
	position: relative;
	background-size: 100% 100%;
}

/*#f64f22*/
/* ---------------------/
* Primera sección ------/
-----------------------*/
.skills{
	position: relative;
	margin-bottom: 100px;
}
.skills header{
	background-color: #212121;
	height: 300px;
	width: 100%;
	top: -150px;
	border-radius: 10px;
	border: 3px solid #f64f22;
	z-index: 1000;
}
.skills header h2{
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 300;
	color: #74c7d5;
	letter-spacing: 0.02em;
	top: 20%;
	text-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
.skills header h2 span{
	font-size: 150%;
	font-weight: 600;
	color: #f64f22;
	font-style: oblique;
}
.skills header h2 i{
	top: 20px;
	left: 50%;
	font-size: 150px;
	margin-left: -60px;
	color: #999;
	z-index: -1;
}
.skills .content{
	margin-top: 200px;
}

.skills .serv-details a{
	display: inline-block;
	padding: 0;
	width: 160px;
	height: 160px;
	font-size: 72px;
	color: #ccc;
	border: 10px solid #74C7D5;
	line-height: 130px;
	border-radius: 50% !important;
	margin-bottom: 24px;
}
.skills .serv-details h3{
	font-size: 24px;
	color: #74C7D5;
	text-transform: uppercase;
	margin-bottom: 24px;
}
.skills .serv-details .details p{
	font-size: 18px;
	font-weight: 300;
	color: #999;
	margin-bottom: 24px;
	line-height: 24px;
}